


<!--

|                    <div class='row' style='margin-top: 20px;'> 
|                        <div class='col-sm-5'  > 组织名称：<strong style='font-size:17px;color:red '>*</strong></div>
|                        <div class='col-sm-5'  > 简称：<strong style='font-size:17px;color:red '>*</strong></div>
|                   </div> 

    

|                    <div class='row' style='margin-top: 20px;'> 
|                        <div class='col-sm-5'   > 注册资金:<input class='form-control myCondition'  id='registerMoney'     value = '#{registerMoney}'  type ='text' > (万) <strong style='font-size:17px;color:red '>*</strong> </div>
|                        <div class='col-sm-5'   > 营业执照：<input class='form-control myCondition'  id='businessLicense'  value = '#{businessLicense}'  type ='text'  ><strong style='font-size:17px;color:red '>*</strong> </div>
|                   </div> 

|                    <div class='row' style='margin-top: 20px;'> 
|                        <div class='col-sm-5' > 组织类型：
|                          <select    id='orgSort' >
|                                <option value='0'  #{orgSort_sle_0}  >非正式组织</option> 
|                                <option value='1'  #{orgSort_sle_1}   >正式组织</option> 
|                                <option value='2'  #{orgSort_sle_2}    >临时组织</option> 
|                                <option value='3'  #{orgSort_sle_3}   >其它</option> 
|                          </select> </div>
|                        <div class='col-sm-5' > 是否高校类型：
|                          <select       id='schoolType' >
|                                <option value='0'  #{schoolType_sle_0}  >非学校结构</option> 
|                                <option value='1'  #{schoolType_sle_1} >学校结构</option> 
|                          </select>
|                        </div>
|                   </div> 

|                    <div class='row' style='margin-top: 20px;'> 
|                        <div class='col-sm-5' > 组织规模：
|                            </div> 
|                        <div  class='col-sm-5' >邮箱地址： </div>
|                    </div>
|                    <div class='row' style='margin-top: 20px;' >
|                        <div class='col-sm-5' >联系电话2：<input class='form-control myCondition'  id='tel2'  value = '#{tel2}'  type ='text'   ></div>
|                   </div> 
|                    <div class='row' style='margin-top: 20px;'> 
|                         <div class='col-sm-2' > 备注说明：</div>
|                        <div class='col-sm-8' >  <textarea  id='REMARK'   class='form-control feedback' rows='5' placeholder='请输入选项解析信息'>#{REMARK}</textarea> </div>              
|                   </div> 

-->